name: Reusable test

on:
  workflow_call:
    inputs:
      artifact_name:
        description: The name of the Tarantool build artifact
        default: ubuntu-focal
        required: false
        type: string

jobs:
  run_tests:
    runs-on: ubuntu-20.04

    steps:
      - name: Clone the ddl module
        uses: actions/checkout@v3
        with:
          repository: ${{ github.repository_owner }}/ddl

      - name: Download the Tarantool build artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ inputs.artifact_name }}

      # All dependencies for tarantool are already installed in Ubuntu 20.04.
      # Check package dependencies when migrating to other OS version.
      - name: Install Tarantool
        run: |
          sudo dpkg -i tarantool_*.deb tarantool-common_*.deb tarantool-dev_*.deb
          tarantool --version

      - name: Install requirements
        run: ./deps.sh

      - run: echo $PWD/.rocks/bin >> $GITHUB_PATH

      - run: cmake -S . -B build

      - name: Run regression tests
        run: make -C build luatest-no-coverage
